* {
  font-family: Arial, Helvetica, sans-serif;
}

.nav {
  margin: 1rem 0rem;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
}
.nav-wrapper {
  display: flex;
  width: 90%;
  background-color: rgba(0, 0, 0, 0.37);
  border-radius: 15px;
  justify-content: center;
}
.nav .nav-wrapper a {
  font-size: 1rem;
  padding: 0.6rem;
  color: #fff;
}

#jumbotron {
  height: 80vh;
  background-image: url("../img/hero-background.png");
  background-size: cover;
  background-position: center;
}
#jumbotron .wrapper .motto {
  background-color: #373662;
}
#jumbotron .wrapper .motto h4 {
  color: #fff;
  letter-spacing: 0.15rem;
}

#about {
  height: 80vh;
  background-image: url("../img/about-background.png");
  background-size: cover;
  background-position: center;
}
#about .about-title h1::before {
  text-shadow: -3px -3px 0px rgba(0, 0, 0, 0.48);
}
#about .about-title h1 {
  text-shadow: -5px -5px 0px rgba(0, 0, 0, 0.48);
}
#about .about-content {
  position: relative;
  background-color: #373662;
  z-index: 1;
}
/* #about .about-content::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: transparent;

  background-image: linear-gradient(
    45deg,
    transparent 42.86%,
    #000000 42.86%,
    #000000 50%,
    transparent 50%,
    transparent 92.86%,
    #000000 92.86%,
    #000000 100%
  );
  background-size: 39.6px 39.6px;
  position: absolute;
  top: 5rem;
  z-index: -1;
} */

/* Tablet */
@media only screen and (min-width: 768px) {
  .nav-wrapper {
    width: 60%;
  }
  .nav .nav-wrapper a {
    font-size: 1.2rem;
  }

  #jumbotron {
    height: 60vh;
  }
  #jumbotron .wrapper .motto h4 {
    letter-spacing: 0.3rem;
  }

  #about {
    height: 60vh;
  }
}

/* Desktop Medium */
@media only screen and (min-width: 1280px) {
  .nav-wrapper {
    width: auto;
    padding: 0 2rem;
  }
  .nav .nav-wrapper a {
    font-size: 1.2rem;
  }

  #jumbotron {
    height: 100vh;
  }
  #jumbotron .wrapper .motto h4 {
    letter-spacing: 0.2rem;
  }

  #about {
    height: 100vh;
  }
}

/* Desktop Large */
@media only screen and (min-width: 1920px) {
  #jumbotron .wrapper .motto h4 {
    letter-spacing: 0.3rem;
  }
}
