* {
  font-family: Arial, Helvetica, sans-serif;
}

.nav {
  margin: 1rem 0rem;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 99;
}
.nav-wrapper {
  display: flex;
  width: 90%;
  background-color: rgba(0, 0, 0, 0.37);
  border-radius: 15px;
  justify-content: center;
}
.nav .nav-wrapper a {
  font-size: 1rem;
  padding: 0.6rem;
  color: #fff;
}

#jumbotron {
  min-height: 80vh;
  background-image: url("../img/hero-background.png");
  background-size: cover;
  background-position: center;
}
#jumbotron .motto {
  background-color: #373662;
}
#jumbotron .motto h4 {
  color: #fff;
  letter-spacing: 0.15rem;
}

#about {
  min-height: 80vh;
  background-image: url("../img/about-background.png");
  background-size: cover;
  background-position: center;
}
#about .about-title h1::before {
  text-shadow: -3px -3px 0px rgba(0, 0, 0, 0.48);
}
#about .about-title h1 {
  text-shadow: -5px -5px 0px rgba(0, 0, 0, 0.48);
}
#about .about-content {
  position: relative;
  /* background-color: #373662; */
  z-index: 1;
}
#about .about-content::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #373662;
  border-width: 4px;
  border-color: rgb(255, 255, 35);
  border-radius: 0.75rem;
  position: absolute;
  z-index: -1;
}
#about .about-content::after {
  content: "";
  width: 120%;
  height: 65%;
  background-color: transparent;

  background-image: linear-gradient(
    45deg,
    transparent 42.86%,
    #000000 42.86%,
    #000000 50%,
    transparent 50%,
    transparent 92.86%,
    #000000 92.86%,
    #000000 100%
  );
  background-size: 39.6px 39.6px;
  position: absolute;
  top: 40%;
  left: -9%;
  z-index: -2;
}

#vision-mission {
  min-height: 80vh;
  background-image: url("../img/vision-mission-background.png");
  background-size: cover;
  background-position: center;
}
#vision-mission .vision-mission-title h1 {
  text-shadow: 3px 3px 0px #373662;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #373662;
}
#vision-mission .vision-mission-content {
  background-color: #373662;
}

#service {
  min-height: 80vh;
  background-image: url("../img/service-background.png");
  background-size: cover;
  background-position: center;
}
#service h1 {
  -webkit-text-stroke: 1px #fff;
}
.service {
  height: 18rem;
  background-color: #757575;
  background-position: center;
  background-blend-mode: multiply;
  background-size: cover;
  border: 2px solid #fff;
  transform: skew(-10deg);
  border-radius: 15px;
}
.service::before {
  content: "\25B6";
  font-size: 4rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0);
  color: #fff;
  padding: 10px;
  border-radius: 0;
  cursor: pointer;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.service::after {
  content: "2D Animation";
  font-size: 1.5rem;
  position: absolute;
  color: white;
  font-weight: 800;
  top: 80%;
  left: 40%;
  transform: translateX(-50%) skew(10deg);
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* Tablet */
@media only screen and (min-width: 768px) {
  .nav-wrapper {
    width: 60%;
  }
  .nav .nav-wrapper a {
    font-size: 1.2rem;
  }

  #jumbotron {
    min-height: 60vh;
  }
  #jumbotron .motto h4 {
    letter-spacing: 0.3rem;
  }

  #about {
    min-height: 60vh;
  }
  #about .about-content::after {
    height: 80%;
  }

  #vision-mission {
    min-height: 60vh;
  }

  #service {
    min-height: 60vh;
  }
  .service {
    height: 20rem;
  }
}

/* Desktop Medium */
@media only screen and (min-width: 1280px) {
  .nav-wrapper {
    width: auto;
    padding: 0 2rem;
  }
  .nav .nav-wrapper a {
    font-size: 1.2rem;
  }

  #jumbotron {
    min-height: 100vh;
  }
  #jumbotron .motto h4 {
    letter-spacing: 0.2rem;
  }

  #about {
    min-height: 100vh;
  }

  #vision-mission {
    min-height: 100vh;
  }

  #service {
    min-height: 100vh;
  }
  .service {
    height: 31rem;
  }
}

/* Desktop Large */
@media only screen and (min-width: 1920px) {
  #jumbotron .motto h4 {
    letter-spacing: 0.3rem;
  }

  #about .about-content::after {
    height: 100%;
  }

  .service {
    height: 41rem;
  }
}
